<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="centered">
        <h1>INICIO DE SESION </h1>
        <form>
            <input class="input2" id="username" placeholder="Usuario">
            <br><br>
            <input class="input2" type="password" id="password" placeholder="Contraseña">
            <br><br>
            <button type="submit" class="boton-minimalista">Iniciar Sesión</button> <br><br>
        </form>
        <button type="button" class="boton-minimalista"
            onclick="window.location.href='/usuario/register'">Registrarse</button> <br><br>
            
        <a href="" style="color: blue; text-decoration: underline;">¿Olvidó su clave?</a>
    </div>


</body>

</html>